# numpy

In [1]:
import numpy as np

In [2]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__doc__',
 '__file__',
 '__git_revision__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_arg',
 '_distributor_init',
 '_globals',
 '_mat',
 '_mklinit',
 '_pytesttester',
 'abs',
 'absolute',
 'absolute_import',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'division',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'int_asbuffer',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'print_function',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rank',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [3]:
#creating an array
x=np.array([[1,4,6],[8,9,5]])
x

array([[1, 4, 6],
       [8, 9, 5]])

In [4]:
np.shape(x)

(2, 3)

In [5]:
np.size(x)

6

In [6]:
x.itemsize

4

In [7]:
#reshape
x.reshape(3,2)

array([[1, 4],
       [6, 8],
       [9, 5]])

In [8]:
x.reshape(1,6)

array([[1, 4, 6, 8, 9, 5]])

In [9]:
#slicing
x[0]

array([1, 4, 6])

In [10]:
x[0,1]

4

In [11]:
x[1,1]

9

In [18]:
x

array([[1, 4, 6],
       [8, 9, 5]])

In [22]:
x[:,-1]

array([6, 5])

In [23]:
x[:,0:2]

array([[1, 4],
       [8, 9]])

In [24]:
s=np.array([[1,4,6],[8,9,5],[8,6,4]])
s

array([[1, 4, 6],
       [8, 9, 5],
       [8, 6, 4]])

In [31]:
s[0:,::2]

array([[1, 6],
       [8, 5],
       [8, 4]])

In [33]:
s[1]

array([8, 9, 5])

In [34]:
s[0:2,0:2]

array([[1, 4],
       [8, 9]])

In [35]:
s

array([[1, 4, 6],
       [8, 9, 5],
       [8, 6, 4]])

In [36]:
#max and min
s.min()

1

In [37]:
s.sum()

51

In [38]:
s.mean()

5.666666666666667

In [42]:
s.sum(axis=0)

array([17, 19, 15])

In [43]:
s.sum(axis=1)

array([11, 22, 18])

In [44]:
np.sqrt(s)

array([[1.        , 2.        , 2.44948974],
       [2.82842712, 3.        , 2.23606798],
       [2.82842712, 2.44948974, 2.        ]])

In [45]:
np.std(s)

2.3570226039551585

## Vertical & Horizontal Stacking

In [54]:
a=np.array([[1,4,5],[4,7,8],[6,9,0]])
b=np.array([[1,7,4],[3,8,4],[1,8,4]])
np.vstack((a,b))

array([[1, 4, 5],
       [4, 7, 8],
       [6, 9, 0],
       [1, 7, 4],
       [3, 8, 4],
       [1, 8, 4]])

In [55]:
np.hstack((a,b))

array([[1, 4, 5, 1, 7, 4],
       [4, 7, 8, 3, 8, 4],
       [6, 9, 0, 1, 8, 4]])

In [56]:
np.ravel((a,b))

array([1, 4, 5, 4, 7, 8, 6, 9, 0, 1, 7, 4, 3, 8, 4, 1, 8, 4])

In [57]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [59]:
for i in np.arange(1,5):
    print(s)

[[1 4 6]
 [8 9 5]
 [8 6 4]]
[[1 4 6]
 [8 9 5]
 [8 6 4]]
[[1 4 6]
 [8 9 5]
 [8 6 4]]
[[1 4 6]
 [8 9 5]
 [8 6 4]]

In [60]:
np.sin(s)

array([[ 0.84147098, -0.7568025 , -0.2794155 ],
       [ 0.98935825,  0.41211849, -0.95892427],
       [ 0.98935825, -0.2794155 , -0.7568025 ]])

In [61]:
np.cos(s)

array([[ 0.54030231, -0.65364362,  0.96017029],
       [-0.14550003, -0.91113026,  0.28366219],
       [-0.14550003,  0.96017029, -0.65364362]])

# pandas

In [5]:
import pandas as pd

In [6]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [7]:
#creating a series data type

In [8]:
s=pd.Series([1,6,7,3,34,6])

In [9]:
s

0     1
1     6
2     7
3     3
4    34
5     6
dtype: int64

In [10]:
s1=pd.Series([1,6,7,3,34,6],index=['p','s','r','d','g','b'])

In [11]:

s1

p     1
s     6
r     7
d     3
g    34
b     6
dtype: int64

In [12]:
s+s1

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
b   NaN
d   NaN
g   NaN
p   NaN
r   NaN
s   NaN
dtype: float64

In [13]:
v1=[1,6,8,4]
v2=[6,9,9,2]
df=pd.DataFrame({'x':v1,'y':v2})
df

   x  y
0  1  6
1  6  9
2  8  9
3  4  2

In [14]:
df

   x  y
0  1  6
1  6  9
2  8  9
3  4  2

In [15]:
df.isnull()

       x      y
0  False  False
1  False  False
2  False  False
3  False  False

# pandas operations:
>.slicing
> .merging
> .concatination
> .changing the index
> .changing column headers
> .data munging

In [16]:
df1=pd.DataFrame({'x':[55,99,77,55],'y':[7,5,3,2]},index=['a','b','c','d'],dtype=float)

In [17]:
df1

      x    y
a  55.0  7.0
b  99.0  5.0
c  77.0  3.0
d  55.0  2.0

### column change

In [18]:
data=[[2,4,3,3],[12,5,5]]

In [19]:
df=pd.DataFrame(data,columns=["x1","x2","x3","x4"])

In [20]:
df

   x1  x2  x3   x4
0   2   4   3  3.0
1  12   5   5  NaN

In [21]:
df.isnull()

      x1     x2     x3     x4
0  False  False  False  False
1  False  False  False   True

In [22]:
df.values

array([[ 2.,  4.,  3.,  3.],
       [12.,  5.,  5., nan]])

In [23]:
df.size

8

In [24]:
df.shape

(2, 4)

In [25]:
df

   x1  x2  x3   x4
0   2   4   3  3.0
1  12   5   5  NaN

# slicing

In [26]:
df.tail()

   x1  x2  x3   x4
0   2   4   3  3.0
1  12   5   5  NaN

# merging and joining

In [27]:
data=[[2,4,5],[9,4,3],[3,5,5,6]]
df=pd.DataFrame(data,columns=["x1","x2","x3","x4"])

In [28]:
df

   x1  x2  x3   x4
0   2   4   5  NaN
1   9   4   3  NaN
2   3   5   5  6.0

In [43]:
df1

      x    y
a  55.0  7.0
b  99.0  5.0
c  77.0  3.0
d  55.0  2.0

In [44]:
m=pd.merge(df1,df)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [45]:
m

   x1  x2  x3  x4
0   1   3  23 NaN

In [46]:
j=df1.join(df)

In [33]:
df

   x1  x2  x3   x4
0   2   4   5  NaN
1   9   4   3  NaN
2   3   5   5  6.0

In [34]:
df1

      x    y
a  55.0  7.0
b  99.0  5.0
c  77.0  3.0
d  55.0  2.0

In [35]:
d=[[1,23,3],[1,4,5,6],[1,3,4,5],[1,3,23]]

In [36]:
f1=pd.DataFrame(d,columns=["x1","x2","x3","x4"])

In [37]:
f1

   x1  x2  x3   x4
0   1  23   3  NaN
1   1   4   5  6.0
2   1   3   4  5.0
3   1   3  23  NaN

In [38]:
d1=[[5,5,4],[3,5,2,2],[1,3,23]]

In [39]:
f2=pd.DataFrame(d1,columns=["x1","x2","x3","x4"])
f2

   x1  x2  x3   x4
0   5   5   4  NaN
1   3   5   2  2.0
2   1   3  23  NaN

In [40]:
m=pd.merge(f1,f2)
m

   x1  x2  x3  x4
0   1   3  23 NaN

In [177]:
x=[[1,5,8],[8,9,5]]
f3=pd.DataFrame(x,columns=['y1','y2','y3'],index=['a','b'])

In [178]:
f4=pd.DataFrame({'name':[2,6,7],'gender':[1,5,6]})
f4

   name  gender
0     2       1
1     6       5
2     7       6

In [179]:
joint=f3.join(f4)

In [180]:
joint

   y1  y2  y3  name  gender
a   1   5   8   NaN     NaN
b   8   9   5   NaN     NaN

# concat

In [181]:
c=pd.concat([f3,f2])
c

C:\Users\public\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    x1   x2    x3   x4   y1   y2   y3
a  NaN  NaN   NaN  NaN  1.0  5.0  8.0
b  NaN  NaN   NaN  NaN  8.0  9.0  5.0
0  5.0  5.0   4.0  NaN  NaN  NaN  NaN
1  3.0  5.0   2.0  2.0  NaN  NaN  NaN
2  1.0  3.0  23.0  NaN  NaN  NaN  NaN

In [182]:
c.notnull()

      x1     x2     x3     x4     y1     y2     y3
a  False  False  False  False   True   True   True
b  False  False  False  False   True   True   True
0   True   True   True  False  False  False  False
1   True   True   True   True  False  False  False
2   True   True   True  False  False  False  False

In [183]:
c.isnull()

      x1     x2     x3     x4     y1     y2     y3
a   True   True   True   True  False  False  False
b   True   True   True   True  False  False  False
0  False  False  False   True   True   True   True
1  False  False  False  False   True   True   True
2  False  False  False   True   True   True   True

In [184]:
c.columns

Index(['x1', 'x2', 'x3', 'x4', 'y1', 'y2', 'y3'], dtype='object')

In [185]:
c["y2"]

a    5.0
b    9.0
0    NaN
1    NaN
2    NaN
Name: y2, dtype: float64

# changing the index

In [188]:
c1=pd.DataFrame({1:[1,2,3],2:[7,9,5],'i':['x','y','z']})
c1.set_index('i')

   1  2
i
x  1  7
y  2  9
z  3  5

# changing column headers

In [192]:
c2=c1.rename(columns={1:'a',2:'b'})
c2

   a  b  i
0  1  7  x
1  2  9  y
2  3  5  z

In [193]:
c1

   1  2  i
0  1  7  x
1  2  9  y
2  3  5  z

# Data munging

In [201]:
dd=pd.read_csv("table.csv")

In [202]:
dd

   x  y
0  2  5
1  6  9
2  9  0